.button {
  font-family: inherit;
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  color: var(--background);
  background-color: var(--text-primary);
  margin-bottom: 3rem;
  padding: 1em;
  cursor: pointer;
  box-shadow: 0 0 20px 4px rgb(0 0 0 / 30%);
  transition: background-color 0.2s ease-out, transform 0.2s ease-out;
}

.button:hover {
  transform: scale(1.05);
  background-color: #fdcb68;
}