.movies-wrapper {
  margin-top: 3em;
}

.movies {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  padding-inline: 1em;
  margin-block: 3em;
}

.error {
  margin-top: 1em;
  color: var(--text-danger);
}